.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (max-width: 1200px) {
    .wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
}
