.App {
  height: 100vh;

  font-family: 'Lato', sans-serif;
  background: rgb(252,254,255);
  background: radial-gradient(circle, rgba(252,254,255,1) 0%, rgba(246,246,246,1) 100%);
  text-align: center;
}
